@namespace dpk 'dpk.*';
@namespace mx  'library://ns.adobe.com/flex/mx';
@namespace s   'library://ns.adobe.com/flex/spark';

@font-face {
  fontFamily: 'Droid Sans';
  src:        url('/assets/DroidSans.ttf');
}

@font-face {
  fontFamily: 'Droid Sans';
  fontWeight: bold;
  src:        url('/assets/DroidSans-Bold.ttf');
}

global {
  borderColor:            #999999;
  chromeColor:            #3399ff;
  contentBackgroundColor: #eeeeee;
  fontFamily:             'Droid Sans';
  symbolColor:            #003366;
}

s|BorderContainer {
  borderStyle:  inset;
  cornerRadius: 2;
}

s|Button {
  cornerRadius: 4;
  skinClass:    ClassReference('dpk.skins.ButtonSkin');
}

s|CheckBox {
  skinClass: ClassReference('dpk.skins.CheckBoxSkin');
}

dpk|CheckBoxListItemRenderer {
  paddingLeft:  3;
  paddingRight: 3;
}

mx|DataGrid {
  borderSkin:            ClassReference('dpk.skins.PlainBorderSkin');
  fontSize:              11;
  headerBackgroundSkin:
      ClassReference('dpk.skins.DataGridHeaderBackgroundSkin');
  headerSeparatorSkin:
      ClassReference('dpk.skins.DataGridHeaderSeparatorSkin');
  paddingBottom:         0;
  paddingLeft:           0;
  paddingRight:          0;
  paddingTop:            0;
  selectionDuration:     0;
  verticalAlign:         middle;
  verticalGridLineColor: #999999;
}

s|DropDownList {
  rollOverColor:  #3399ff;
  selectionColor: #99ccff;
  skinClass:      ClassReference('dpk.skins.DropDownListSkin');
}

s|FTEDataGridItemRenderer {
  paddingLeft:  3;
  paddingRight: 3;
}

dpk|IconButton {
  cornerRadius: 0;
  skinClass:    ClassReference('dpk.skins.IconButtonSkin');
}

s|Label {
  paddingTop: 2;
}

.note {
  fontSize: 10;
}

.titleText {
  fontSize:   14;
  fontWeight: bold;
}

mx|HTML {
  borderSkin:  ClassReference('dpk.skins.PlainBorderSkin');
  borderStyle: solid;
}

dpk|ImageWell {
  backgroundImage:         Embed('/assets/TransparencyGrid.png');
  backgroundImageFillMode: repeat;
  skinClass:               ClassReference('dpk.skins.ImageWellSkin');
}

mx|ScrollBar {
  cornerRadius:  7;
  downArrowSkin: ClassReference('dpk.skins.ScrollBarDownButtonSkin');
  thumbSkin:     ClassReference('dpk.skins.ScrollBarThumbSkin');
  trackSkin:     ClassReference('dpk.skins.ScrollBarTrackSkin');
  upArrowSkin:   ClassReference('dpk.skins.ScrollBarUpButtonSkin');
}

mx|Tab {
  cornerRadius: 4;
  skin:         ClassReference('dpk.skins.TabSkin');
}

mx|TabNavigator {
  borderColor:            #999999;
  borderSkin:             ClassReference('dpk.skins.TabNavigatorBorderSkin');
  contentBackgroundColor: #f6f6f6;
  cornerRadius:           3;
}

s|TextInput {
  contentBackgroundColor: #ffffff;
  paddingTop:             3;
  skinClass:              ClassReference('dpk.skins.TextInputSkin');
}

s|Window, s|WindowedApplication {
  backgroundColor: #eeeeee;
}
