@namespace mx 'library://ns.adobe.com/flex/mx';
@namespace s  'library://ns.adobe.com/flex/spark';

@font-face {
  fontFamily: 'Droid Sans';
  src:        url('/assets/DroidSans.ttf');
}

@font-face {
  fontFamily: 'Droid Sans';
  fontWeight: bold;
  src:        url('/assets/DroidSans-Bold.ttf');
}

global {
  borderColor: #999999;
  chromeColor: #3399ff;
  fontFamily:  'Droid Sans';
}

s|BorderContainer {
  borderStyle:  inset;
  cornerRadius: 2;
}

s|CheckBox {
  skinClass: ClassReference('dpk.skins.CheckBoxSkin');
}

s|Label {
  paddingTop: 2;
}

s|TextInput {
  paddingTop: 3;
  skinClass:  ClassReference('dpk.skins.TextInputSkin');
}

s|Window, s|WindowedApplication {
  backgroundColor: #eeeeee;
}
